@using Tsjy.Application.System.Dtos.BatchDtos
@using Tsjy.Core.Enums
@inherits BootstrapComponentBase
@attribute [Authorize(Roles = "Admin")]
@page "/Admin/TaskDistribute"
<div class="container-fluid">
    @* 使用传入的 Model *@
    <ValidateForm Model="@Model" OnValidSubmit="@OnValidSubmit">
        <div class="row g-3">
            <div class="col-12">
                <BootstrapInput @bind-Value="@Model.Name" Label="批次名称" ShowLabel="true" />
            </div>

            <div class="col-12 col-md-6">
                <DateTimePicker @bind-Value="@Model.StartAt" Label="开始时间" ShowLabel="true" />
            </div>

            <div class="col-12 col-md-6">
                <DateTimePicker @bind-Value="@Model.DueAt" Label="结束时间" ShowLabel="true" />
            </div>
            @* 2. 核心选项：类型 -> 体系 *@
            <div class="col-12 col-md-6">
                @* 使用 TValue="OrgType?" 确保类型匹配 *@
                <Select TValue="OrgType?"
                        Value="@Model.TargetType"
                        ValueChanged="@OnOrgTypeChanged"
                        Items="@OrgTypeItems"
                        Label="适用机构"
                        ShowLabel="true"
                        PlaceHolder="请选择..." />
            </div>

            <div class="col-12 col-md-6">
                @* 绑定 TreeId，数据源来自 TreeItems *@
                <Select @bind-Value="@Model.TreeId"
                        Items="@TreeItems"
                        Label="评价体系"
                        ShowLabel="true"
                        PlaceHolder="请先选择机构类型..."
                        IsDisabled="@(!Model.TargetType.HasValue)" />
            </div>
            @* 如果是弹窗模式，按钮通常由弹窗 footer 提供，或者在这里自定义 *@
            <div class="col-12 text-end">
                <Button ButtonType="ButtonType.Submit" Icon="fa fa-save" Text="保存" Color="Color.Primary" />
            </div>
        </div>
    </ValidateForm>
</div>